<h3 class=text-center>Shipping Information</h3>
<form class="form-floating mb-3 " [formGroup]="currentForm"  (ngSubmit)="onSubmit()">
   <select class="form-select" formControlName="search" aria-label="Default select example">
      <option >Choose delivery location</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <br>
    <button class="btn  btn-primary"  class="btn btn-primary btn-md mx-auto p-4" style="width: 314px;height: 70px;font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    " [disabled]="!currentForm.valid"  type="submit">Place Order</button>
    
  </form>