<div class="container" id="contact">

    <div class="row ">
     
      <div class="col-lg-6  aos-init aos-animate"  style="background-color: #ffffff;height:600%;" data-aos="fade-left">
        <div style="margin-top: 0%;"></div>
        <div class="">
          <h2 class="text-secondary">Order Now</h2>
          <form class="form-floating mb-3 " [formGroup]="currentForm"  (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
              <input type="tel" class="form-control border-bottom border-top-0 border-end-0 border-start-0" formControlName="phone" id="floatingInput" placeholder="0701376319">
              <label for="floatingInput">Phone</label>
            </div>
            <div class="form-floating mb-3 ">
              <select class="form-select border-bottom border-top-0 border-end-0 border-start-0" formControlName="honey_type" id="floatingSelect" aria-label="Floating label select example">
                <option selected value="100g">100g(100 KSH)</option>
                <option value="200g">200g(200 KSH)</option>
                <option value="350g">350g(400 KSH)</option>
                <option value="500g">500g(500 KSH)</option>
                <option value="1000g">1000g(1000 KSH)</option>
              </select>
              <label for="floatingSelect">Please choose honey type</label>
            </div>
            <div class="form-floating mb-3 ">
              <select class="form-select border-bottom border-top-0 border-end-0 border-start-0" formControlName="delivery" id="floatingLocation" aria-label="Floating label select example">
                <option selected>Choose Delivery location</option>
                <option value="1">Kakamega</option>
                <option value="2">Nakuru</option>
                <option value="3">Nairobi</option>
                <option value="1">Migori</option>
                <option value="2">Nakuru</option>
                <option value="3">Nairobi</option>
              </select>
              <label for="floatingLocation">Please choose delivery location</label>
            </div>
         
             <br>
             <button class="btn  btn-primary"  class="btn btn-primary btn-md mx-auto p-4" style="width: 314px;height: 70px;font-style: normal;
             font-weight: bold;
             font-size: 20px;
             line-height: 23px;
             text-align: center;
             
             " [disabled]="!currentForm.valid"   type="submit">Place Order</button>
            
           </form>
          
        </div>
      </div>
      <div class="col-lg-6 aos-init aos-animate" data-aos="zoom-in">
        <img src="./assets/images/honey_bottle.jpg" style="width: 312px;height: 459px;object-fit: cover;border-radius: 2rem;"  class="img-fluid" alt="">
      </div>
    </div>
    <br>
    <br>
  </div>