<div class="container" id="contact">

    <div class="row ">
     
      <div class="col-lg-6  aos-init aos-animate"  style="background-color: #ffffff;height:600%;" data-aos="fade-left">
        <div style="margin-top: 0%;"></div>
        <div class="">
          <h2 class="text-secondary">Order Now</h2>
   
          
        </div>
      </div>
      <div class="col-lg-6 aos-init aos-animate" data-aos="zoom-in">
        <img src="./assets/images/honey_bottle.jpg" style="width: 312px;height: 459px;object-fit: cover;border-radius: 2rem;"  class="img-fluid" alt="">
      </div>
    </div>
    <br>
    <br>
  </div>