<div class="container  " id="about">
    <div class="row ">
      <div class="col-lg-4 aos-init aos-animate" data-aos="zoom-in">
        <img src="./assets/images/pexels-valeria-boltneva-1872904.jpg"   class="img-fluid rounded-3 w-100 h-100" alt="">
      </div>
      <div class="col-lg-8  aos-init aos-animate"  style="background-color: #ffffff;" data-aos="fade-left">
        <div style="margin-top: 10%;"></div>
        <div class="w-100 mx-5">
          <div class="overlin text-muted"><b>All About </b> <b class="text-secondary">PEDNI HONEY</b></div>
          <h2 class="headlin">WE ARE ALL ABOUT NATURAL HONEY</h2>
        
          <p class="baselin text-muted">
            
              For years honey  production has always been the same ,but with <b class="text-secondary">PEDNI HONEY</b> this is genuinely different and a true testament to the all natural and great <b class="text-secondary">PEDNI HONEY</b> iconograpghy.
          <br>
          Honey, sweet, viscous liquid food, dark golden in colour, produced in the honey sacs of various bees from the nectar of flowers. Flavour and colour are determined by the flowers from which the nectar is gathered. Some of the most commercially desirable honeys are produced from clover by the domestic honeybee. The nectar is ripened into honey by inversion of the major portion of its sucrose sugar into the sugars levulose (fructose) and dextrose (glucose) and by the removal of excess moisture.
         <br>
         Honey was almost the only source of sugar available to the ancients and was valued for its medicinal benefits. It was used to make mead, a fermented beverage, and was mixed with wine and other alcoholic drinks. In Egypt it was employed as an embalming material. In India and other Asian countries it was used to preserve fruit and make cakes, sweetmeats, and other foods. Honey is mentioned in the Bible and in the Qurʾān.
           </p>
        </div>
      </div>
     
    </div>
    <div class="row ">
      <div class="col-lg-8  aos-init aos-animate"  style="background-color: #ffffff;" data-aos="fade-left">
        <div style="margin-top: 10%;"></div>
        <div class="w-100 mr-5">
          <h2 class="headlin">WHY PEDNI HONEY</h2>
        
          <p class="baselin text-muted">
            Honey is essentially pure sugar, with no fat and only trace amounts of protein and fiber. It contains small amounts of some nutrients, but most people typically don’t consume enough honey for it to be a significant dietary source of vitamins and minerals.
             <br>
             Honey may offer some protective effects related to blood sugar management, but it should still be consumed in moderation, especially by people with type 2 diabetes. 
            <br>
            According to one review, honey may help lower blood pressure, improve blood fat levels, regulate your heartbeat, and prevent the death of healthy cells — all factors that can improve your heart function and health (6Trusted Source).

One observational study including over 4,500 people over age 40 associated a moderate honey intake with a lower risk of high blood pressure among women (7Trusted Source).
            
            
            
            </p>
       
       
            </div>
      </div>
      <div class="col-lg-4 aos-init aos-animate" data-aos="zoom-in">
        <img src="./assets/images/pexels-abdulrhman-alkady-3772492.jpg"   class="img-fluid rounded-3 w-100 h-100" alt="">
      </div>
    </div>
    </div>
