<div class="container  " id="about">
    <div class="row ">
      <div class="col-lg-4 aos-init aos-animate" data-aos="zoom-in">
        <img src="./assets/images/honey_bottle.jpg"   class="img-fluid rounded-3 w-100 h-100" alt="">
      </div>
      <div class="col-lg-8  aos-init aos-animate"  style="background-color: #ffffff;" data-aos="fade-left">
        <div style="margin-top: 10%;"></div>
        <div class="w-100 mx-5">
          <div class="overlin text-muted"><b>All About </b> <b class="text-secondary">PEDNI HONEY</b></div>
          <h2 class="headlin">WE ARE ALL ABOUT NATURAL HONEY</h2>
        
          <p class="baselin text-muted">
            
              For years honey  production has always been the same ,but with <b class="text-secondary">PEDNI HONEY</b> this is genuinely different and a true testament to the all natural and great <b class="text-secondary">PEDNI HONEY</b> iconograpghy.
          
     
          
           </p>
        </div>
      </div>
     
    </div>
    </div>