<div class="container  " id="about">
    <div class="row ">
      <div class="col-lg-4 aos-init aos-animate" data-aos="zoom-in">
        <img src="./assets/images/honey_bottle.jpg" style="width: 368px;height:541px;object-fit: cover;border-radius: 2rem;"  class="img-fluid" alt="">
      </div>
      <div class="col-lg-8  aos-init aos-animate"  style="background-color: #ffffff;" data-aos="fade-left">
        <div style="margin-top: 10%;"></div>
        <div class="">
          <div class="overline ">All About PEDNI HONEY</div>
          <h2 class="headline">WE ALL ABOUT NATURAL HONEY</h2>
        
          <p class="baseline">
          For years honey  production has always been the same ,but with PEDNI HONEY this is genuinely different and a true testament to the all natural and great PEDNI HONEY iconograpghy.
          
           
           </p>
        </div>
      </div>
     
    </div>
    </div>