<body class="" >
<div class="container">
    <ul class="list-group  d-flex justify-content-between align-items-start" *ngIf="condition; else elseBlock">
             
      <h3 >Found {{total}} results.</h3>
        <li class="list-group-item" *ngFor="let data of datas">
            <div class="row">
               <div class="col-4">
                <img class="card-img-top w-100"  src="./assets/images/honey_bottle_rbg.png" alt="Card image cap"> 
               </div>
               <div class="col-8">
                <div class="card-body">
                  <h6 style="color:#343D21" class=""><b>{{data.data.product_name}}</b> 1KG</h6>
                  <p class=""><b>KSH 500</b></p>
                   <div class="input-group mb-3">
                    Quantity
                    <input type="number" class="form-control w-50" min="1" value="1" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
                 
                </div>
               </div>
               

            </div>
           
            </li>
       
      </ul>
   
    
    <ng-template #elseBlock>
      <h3 class="text-center my-auto" *ngIf="!condition">No item in the basket</h3>
    </ng-template>
   
</div>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br> 
<div class="" *ngIf="condition">
  
  <ul class="list-group ">
    <li class="list-group-item border-0  d-flex justify-content-between align-items-start fw-bold text-muted">
      Total
      <span class="text-secondary fw-bold">2,000 KSH</span>
    </li> 
  </ul>
  <a href="services.html"   class="btn btn-primary btn-md mx-auto p-4" style="width: 314px;height: 70px;font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;

">Continue to Checkout</a>

</div>


</body>