<div class="container"id="products" >
    <h2 style="color:#343D21;text-align:center;"><b>OUR SERVICES</b></h2>
    <div class="row">
     
       <div class="col-md-3 mr-1 ml-1 mb-4">
         <div class="card border-0 rounded shadow">
           <img class="card-img-top"  src="./assets/images/honey_bottle_rbg.png" alt="Card image cap">
           <div class="card-body">
             <h5 style="color:#343D21" class="text-center"><b>Advertising</b></h5>
             <p class="text-center">375 g</p>
             <p class="text-center"><b>KSH 500</b></p>
            
           </div>
         </div>
       </div>
       <div class="col-md-3 mr-1 ml-1 mb-4">
         <div class="card border-0 rounded shadow">
           <img class="card-img-top" src="./assets/images/honey_bottle_rbg.png" alt="Card image cap">
           <div class="card-body">
            <h5 style="color:#343D21" class="text-center"><b>Advertising</b></h5>
             <p class="text-center">375 g</p>
             <p class="text-center"><b>KSH 500</b></p>
            
           </div>
         </div>
       </div>
       <div class="col-md-3 mr-1 ml-1 mb-4">
         <div class="card border-0 rounded shadow">
           <img class="card-img-top"  src="./assets/images/honey_bottle_rbg.png" alt="Card image cap">
           <div class="card-body">
            <h5 style="color:#343D21" class="text-center"><b>Advertising</b></h5>
             <p class="text-center">375 g</p>
             <p class="text-center"><b>KSH 500</b></p>
           </div>
         </div>
       </div>
      
   
      
      <div class="col-md-3 mr-1 mb-4">
        <div class="card border-0 rounded shadow">
          <img class="card-img-top"  src="./assets/images/honey_bottle_rbg.png" alt="Card image cap">
          <div class="card-body">
            <h5 style="color:#343D21" class="text-center"><b>Advertising</b></h5>
            <p class="text-center">375 g</p>
            <p class="text-center"><b>KSH 500</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mr-1 mb-4">
        <div class="card border-0 rounded shadow">
          <img class="card-img-top"  src="./assets/images/honey_bottle_rbg.png" alt="Card image cap">
          <div class="card-body">
            <h5 style="color:#343D21" class="text-center"><b>Advertising</b></h5>
            <p class="text-center">375 g</p>
            <p class="text-center"><b>KSH 500</b></p>
           
          </div>
        </div>
      </div>
      <div class="col-md-3 mr-1 mb-4">
        <div class="card border-0 rounded shadow">
          <img class="card-img-top"  src="./assets/images/honey_bottle_rbg.png" alt="Card image cap">
          <div class="card-body">
            <h5 style="color:#343D21" class="text-center"><b>Advertising</b></h5>
            <p class="text-center">375 g</p>
            <p class="text-center"><b>KSH 500</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mr-1 mb-4">
        <div class="card border-0 rounded shadow">
          <img class="card-img-top"  src="./assets/images/honey_bottle_rbg.png" alt="Card image cap">
          <div class="card-body">
            <h5 style="color:#343D21" class="text-center"><b>Advertising</b></h5>
            <p class="text-center">375 g</p>
            <p class="text-center"><b>KSH 500</b></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mr-1 mb-4">
        <div class="card border-0 rounded shadow">
          <img class="card-img-top"  src="./assets/images/honey_bottle_rbg.png" alt="Card image cap">
          <div class="card-body">
            <h5 style="color:#343D21" class="text-center"><b>Advertising</b></h5>
            <p class="text-center">375 g</p>
            <p class="text-center"><b>KSH 500</b></p>
          </div>
        </div>
      </div>
      
 </div>
 </div>