<div class="container">
    <div class="row">
        <div class="col-md-4"  *ngFor="let data of datas">
            <div class="card border-0 rounded shadow">
                <img class="card-img-top"  src="./assets/images/honey_bottle_rbg.png" alt="Card image cap">
                <div class="card-body">
                  <h5 style="color:#343D21" class="text-center"><b>{{data.data.product_name}}</b></h5>
                  <p class="text-center">375 g</p>
                  <p class="text-center"><b>KSH 500</b></p>
                 
                </div>
              </div>

        </div>

    </div>

</div>