<div class="container-fluid mt-5 mb-5 " id="cta">
    <div class="row cta w-100">
        <div class="col-md-6">
          <h3 class="text-secondary cta_headline" >Get the best deals on our android app.Get it now.
            <br>
            <a href="services.html"  class="btn btn-secondary btn-md m-1 p-4" style="width: 314px;height: 70px;font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 23px;
            text-align: center;">Download App</a>
                
          </h3>
         
        </div>
        <div class="col-md-6">
          <img src="./assets/images/cta.png" style="width: 120%;height:120%;object-fit: contain;margin-top: -30%;margin-left: -20%;">
        </div>
    </div>
</div>    