
  <nav class="navbar navbar-light  justify-content-between"  >

    <a class="navbar-brand text-light"><b>PEDNI</b></a>
    <ul class="nav ">
      <li class="nav-item">
        <a class="nav-link active text-light" >HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" >PRODUCTS</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link text-light">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light">CONTACT US</a>
      </li>
    </ul>
  </nav>
  <br>
  <br>