<div class="row" >
  <div class="col-md-12" >
   <form class="d-flex m-2 " [formGroup]="currentForm"  (ngSubmit)="onSubmit()">
           <input class="form-control me-2" type="search"  formControlName="search" placeholder="Honey 1kg" aria-label="Search">
           <button class="btn  btn-primary" [disabled]="!currentForm.valid"  type="submit">Search</button>
         </form>
         
      
  </div>
  </div>
  <h3 class=text-center>Shipping Information</h3>
 
  
 
<div class="container">
    <div class="row"  *ngIf="condition; else elseBlock" >
      <h3 >Found {{total}} results.</h3>
        <div class="col-md-4"  *ngFor="let data of datas">
            <div class="card border-0 rounded shadow">
                <img class="card-img-top"  src="./assets/images/honey_bottle_rbg.png" alt="Card image cap">
                <div class="card-body">
                  <h5 style="color:#343D21" class="text-center"><b>{{data.data.product_name}}</b></h5>
                  <p class="text-center">375 g</p>
                  <p class="text-center"><b>KSH 500</b></p>
                 
                </div>
              </div>

        </div>

    </div>
    
    <ng-template #elseBlock>
      <h1 class="text-center" *ngIf="!condition">Item Not Found</h1>
    </ng-template>
</div>