<app-navigation></app-navigation>
   <!-- ======= Hero Section ======= -->
   <section id="hero" class="hero d-flex align-items-center m-4" >

    <div class="container-fluid">
      <div class="row mb-5">
       <!-- <img class="ml-4 float-left" src="/assets/images/logo.png" alt="" width="75" height="50" style="object-fit:cover">-->
      </div>
      <div class="row">
        <div class="col-lg-7 d-flex flex-column justify-content-start ">
          <div style="margin-top:10%;"></div>
          <h1 class="w-100" style="width:100%;" data-aos="fade-up">Think with us, act with us, create with us</h1>
          <p data-aos="fade-up" style="width:50%;" data-aos-delay="400">People connect better with stories than they do with a list of facts. We make  people  actually remember the information from latest updtaes, take the Kaya Media  approach and tell a story like never before. </p>
          <div data-aos="fade-up" data-aos-delay="600">
      
              <a href="services.html"  class="btn btn-primary btn-md m-1 ">DISCOVER</a>
                

          </div>
        </div>
        <div class="col-lg-5 " data-aos="zoom-out" data-aos-delay="200">
          <img src="s2.jpg" style="width:100%;height: 70%;object-fit:contain;margin-top:-5%;"  class="img-fluid top" alt="">
        </div>
      </div>
    </div>
<br>
<br>
  </section><!-- End Hero -->
<app-services></app-services>
<app-about-us></app-about-us>
<app-cta></app-cta>
<app-contact-us></app-contact-us>
